<% layout('/layouts/boilerplate')%>
<div class="container" style="max-width: 70rem">
  <div class="accordion accordion-flush mt-5 mb-5" id="accordionFlushExample">
    <% for(let todo of todos){ %>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          name="todo[name]"
          data-bs-target="#todo-<%=todo._id%>"
          aria-expanded="false"
          aria-controls="todo-<%=todo._id%>"
        >
          <p class="todo-item"><%= todo.name %></p>
        </button>
      </h2>
      <div
        id="todo-<%=todo._id%>"
        class="accordion-collapse collapse"
        aria-labelledby="flush-headingOne"
        data-bs-parent="#accordionFlushExample"
        name="todo[details]"
      >
        <div class="accordion-body">
          <%= todo.details %>
          <a href="/todos/<%=todo._id%>"
            ><i class="fas fa-pencil-alt icon ms-5"></i
          ></a>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  <section id="form-input-submit py-3" id="collapse">
    <form
      action="/todos"
      method="post"
      class="todo-form validated-form"
      novalidate
    >
      <div class="form-floating mb-3 col-12">
        <input
          type="text"
          class="form-control secondary"
          name="todo[name]"
          id="name"
          required
        />
        <label for="floatingInput">Todo</label>
      </div>
      <div class="form-floating col-12 mb-3 input-details">
        <input
          type="text"
          class="form-control"
          name="todo[details]"
          id="details"
          required
        />
        <label for="floatingInput">Add more details...</label>
      </div>
      <button
        type="submit"
        class="btn btn-success"
        class="btn-submit"
        id="btn-hero-submit"
      >
        <i class="fas fa-check"></i>
      </button>
    </form>
  </section>
</div>
